
<template>
 
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >

    <div id="container"  style="width:800px;height:600px;border:1px solid grey" ></div>
    
    <script>
		// Monaco uses a custom amd loader that over-rides node's require.
		// Keep a reference to node's require so we can restore it after executing the amd loader file.
		var nodeRequire = global.require;
	</script>
	<script src="monaco-editor/min/vs/loader.js"></script>
	<script>
		// Save Monaco's amd require and restore Node's require
		var amdRequire = global.require;
		global.require = nodeRequire;
	</script>

     <script>
		
        amdRequire.config({ paths: { 'vs': 'monaco-editor/min/vs' }});

		self.process.browser = true;
		amdRequire(['vs/editor/editor.main'], function() {
			var editor = monaco.editor.create(document.getElementById('container'), {
				value: [
					'function x() {',
					'\tconsole.log("Hello world!");',
					'}'
				].join('\n'),
				language: 'javascript'
			});
		});
</script>


</template>
